<form class="form" [formGroup]="form">
  <div class="input-container">
    <label>Full name</label>
    <input formControlName="name" placeholder="Full name" />
    <div
      *ngIf="form.get('name').dirty && form.get('name').errors"
      class="validation-error"
    >
      Name is required.
    </div>
  </div>

  <app-reusable-form-group
    *ngIf="isNestedForm"
    controlKey="emailGroup"
  ></app-reusable-form-group>

  <button class="primary" (click)="save()">Save</button>
  <button (click)="handleNestedForm()">Handle nested form</button>

  <div class="hint">
    <span>* On successful submission, the form data object is displayed in the console</span>
  </div>
</form>
